* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.hamburger {
    width: 48px;
    height: 42px;
    border: 1px solid #eeeeef;
    border-radius: 2px;
    box-shadow: 0 0 2px #eeeeef;
    padding: 10px 10px;
}

.hamburger-stripe {
    background-color: #6799ff;
    height: 3px;
    margin-bottom: 5px;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid #DCDCDC 1px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-header {
    text-transform: uppercase;
    padding: 15px;
    border-bottom: solid #DCDCDC 1px;
}

a {
    text-decoration: none;
}

.sub-header-link {
    color: #6799ff;
}

.hide {
    display: none;
}

#content-desktop {
    display: none;
}


/* Add your CSS here */