    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }
    
    .hamburger {
        width: 48px;
        height: 42px;
        border: 1px solid #eeeeef;
        border-radius: 2px;
        box-shadow: 0 0 2px #eeeeef;
        padding: 10px 10px;
    }
    
    .hamburger-stripe {
        background-color: #6799ff;
        height: 3px;
        margin-bottom: 5px;
    }
    
    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom: solid #DCDCDC 1px;
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .sub-header {
        text-transform: uppercase;
        padding: 15px;
        border-bottom: solid #DCDCDC 1px;
    }
    
    a {
        text-decoration: none;
    }
    
    .sub-header-link {
        color: #6799ff;
    }
    
    .content-desktop {
        display: none;
    }
    
    .link-item {
        margin-top: 15px;
    }
    
    .sub-link {
        text-transform: none;
        color: black;
    }
    
    img {
        width: 75px;
    }
    
    .hidden {
        display: none;
    }
    
    @media screen and (min-width: 768px) {
        .nav-options {
            display: flex;
            flex-basis: 500px;
            align-items: center;
            justify-content: space-around;
        }

        .content-desktop {
            display: block;
            text-transform: uppercase;
        }

        #courses-links,
        #how-it-works-links {
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
        }

        .link-item {
            width: 125px;
            text-align: center;
        }

        .desktop {
            display: block;
        }

        .mobile {
            display: none;
        }

        .container {
            flex-direction: row;
        }

        .hidden {
            display: none !important;
        }
        
        .sub-header {
            border: none;
        }
    }
    /* Add your CSS here */